@page
@using SoftwareProcessAssignment.WebSite.Components
@{ ViewData["Title"] = "Contact page";
}

<h1>Contact</h1>

<p1>Email fakeemail@football.co.nz</p1>
<H1> Or</H1>
<p1>Phone: 0199248847</p1>