@page
@using SoftwareProcessAssignment.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Soccer Club</h1>

    <h4>We are the best Soccer Club in the world We have the Greatest Players and Fans</h4>
    <p>Football club is an amateur football club based in Manchester, England, that competes in Northern Premier League Premier Division, the seventh tier of the English football league system, and plays home matches at Broadhurst Park.</p>
</div>




<script src="_framework/blazor.server.js"></script>
