@page
@model PrivacyModel
@{
    ViewData["Title"] = "Member News";
}
<h1>@ViewData["Title"]</h1>
<h3>News Items</h3>
<h5>World Cup 2022: Phil Foden is key for England, says Gareth Southgate</h5>
<p>
    Foden came on after 71 minutes in the 6-2 win over Iran and was unused in the drab 0-0 draw with the United States.

    "We love Phil, he's a super player," said Southgate, who has guided England to four points from two games in Qatar.

    "He's going to play a big part in this tournament for us."

    Foden, who has scored seven goals in 14 Premier League games for Manchester City this season, has earned 19 England caps since making his debut in 2020.

    However, after being introduced late in England's opening Group B win against Iran, he was left on the bench during the goalless draw with the US as Southgate instead chose to bring on Jack Grealish and Marcus Rashford in the quest for a breakthrough.

    While Southgate acknowledges it is impossible to keep everyone happy, he praised Foden's attitude before Tuesday's final group game against Wales.

    "Phil's mentality to training and the way he's approaching everything is excellent," Southgate told BBC Sport.

</p>
<h5>2022 World Cup: Canada heading home early, Brazil must cope without Neymar,</h5>
<p>
    On the good side, Bayern Munich star Alphonso Davies scored the first World Cup goal ever in Canadian men's history, thundering a header beyond Croatia goalkeeper Dominik Livakovic after just 67 seconds. On the bad side, Croatia quickly woke up, scoring four unanswered goals to win 4-1 and make Canada the second team to be eliminated from knockout round contention after host nation Qatar were the first on Friday. All they have left to play for is pride when they take on Morocco on Thursday, though their opponents have a shot at the round of 16 following their 2-1 win over Belgium earlier on Sunday.

    Yes, this was a chastening end to a tournament that offered a lot of promise for the side that finished above the US and Mexico in CONCACAF qualifying, but with many of their young players (including Davies, Jonathan David and Tajon Buchanan) still with plenty of career ahead of them, this experience should stand them in better stead for when the expanded, 48-team World Cup comes to North America in 2026.
</p>
<h5>As it happened: Late German equaliser has ‘group of death’ meeting expectations</h5>
<p>
    Germany is clinging to its place in the 2022 World Cup by a thread after a 1-1 draw with Spain at the Al Bayt stadium on Sunday night, but may live to regret squandering two second-half open goals.

    They would already be history now if Costa Rica had not toppled Japan earlier in the day. Germany now has to beat Costa Rica, which it should, and hope that Japan does not scratch out a point against Spain, which it shouldn’t. But shoulds and shouldn’ts have lost their certainty in this tournament.
</p>
